* {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.header h1 {
    background-color: lightgreen;
    margin: 10px;
    padding: 20px;
}

input[type="text"] {
    width: 31.25rem;
    height: 4.065rem;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url(/Images/icons8-search.svg) no-repeat 10px; /*This adds the search icon inside the search bar */
    background-size: 1.5625rem;
    font-size: 1.25rem;
    margin-left: 100px;
}

.nav-bar {
    margin: 10px;
    padding: 20px;
    display: flex;
    background-color: lightblue;
    gap: 350px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    font-size: 1.25rem;
    display: flex;
    width: 800px;
    height: 4.065rem;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-container {
    background-color: lightsalmon;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    /*width: 100%;*/
    min-height: 74.5vh;
    margin: 10px;
    padding: 20px;
}

.item-1, .item-2, .item-3,
.item-4, .item-5, .item-6 {
    border: 1px solid lightgrey;
    background-color: aquamarine;
    height: 330px;
    border-radius: 8px;
}

.item-1, .item-2, .item-3, 
.item-4, .item-5, .item-6 {
    display: flex;
    gap: 10px;
}

.text {
    text-align: center;
    padding: 30px;
    height: fit-content;
    position: relative; /*Used the positioning property to move the text from the top*/
    top: 20%;
}

input {
    width: 50px;
    background-color: aqua;
    border-radius: 10px;

}

.button {
    margin-top: 10px;
}

.image {
    padding: 20px;
}

img {
    border-radius: 6px;
}